.header {
    max-width: 1280px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0.7rem;
    border-bottom: 1px solid #ccc;
}
.nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.nav-btn {
    padding: 0.5rem 1rem;
    background-color: #eeeeee;
    color: #000;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.nav-btn:hover {
    background-color: #cccccc;
}