.header {
    max-width: 1280px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}
.nav {
    max-width: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}