.main {
    max-width: 1280px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1.6fr 1.4fr;
    padding: 0 1rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recent-column {
    background: #fff;
    padding: 12px;
    max-height: 80vh;
    overflow: auto;
}